
  <div class="container details-container">

    <div class="row">
      <div class="col-lg-7  first-view">
          <div class="row view">

          
        <carousel class=" detail-carousel">
          
              <slide >
                  <img src="../../../../assets/images/1.jpg"  class="img-fluid" alt="first slide" style=" width: 100%;">
              </slide>
              
              <slide >
                  <img src="../../../../assets/images/2.jpg" class="img-fluid" alt="third slide" style=" width: 100%;">
              </slide>
              <slide >
                  <img src="../../../../assets/images/1.jpg" class="img-fluid" alt="forth slide" style=" width: 100%;">
              </slide>
              <slide >
                    <img src="../../../../assets/images/2.jpg" class="img-fluid" alt="third slide" style=" width: 100%;">
                </slide>
          
      </carousel>

      </div>
       <div class="row view detailsAbout">
           <div class="col-lg-12">
           <div class="row">
                <h1>Details</h1>
           </div>
           <div class="row">

                <div class="condition col-lg-6">
                        <h2 class="display-inline">Condition</h2>
                        <h3 class="display-inline">used</h3>
                </div>
                <div class="condition col-lg-6">
                        <h2 class="display-inline">Category</h2>
                        <h3 class="display-inline">Novel</h3>

                        
                    </div>
                   
                
           </div>
            </div>
            <hr>
            

       </div>


      </div>


      <div class="col-lg-4 second-view">
        <div class="row view">

            <div class=" col-lg-10" >
                <div class="row">
                        <h1 class=" main-price">RS: {{idBook}}</h1>

                </div>
                <div class="row">
                    <p>hello world</p>
                </div>

            </div>
            
            <p class="col-lg-2">Today</p>

        </div>
        <div class="row view">
                <div style="width: 100%" class="mapp">
                <iframe width="100%" height="300" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=noman%20grand%20city%20%2C%20karachi%20%2C%20pakistan+(Konstructors%20solutions)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Map a route</a>
                </iframe>
            </div>


        </div>
        
      </div>


    </div>
  </div>




