
    <nav class="nav-sign-header navbar navbar-expand-sm ">
        <ul class="navbar-nav " style="margin-left: auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Sign in </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Sign up</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">visit our facebook page</a>
        </li>
     </ul>
     
  </nav>
  <hr>

<nav class="header navbar navbar-expand-sm bg-dark navbar-dark">
<!-- Brand/logo -->
<a class="navbar-brand logo" >Share Book</a>

<!-- Links -->
<ul class="navbar-nav " style="margin-left: auto">
<li class="nav-item">
  <a class="nav-link cursorPointer" (click)="navigateTolistingPage('used')">Used books</a>
</li>
<li class="nav-item">
  <a class="nav-link cursorPointer" (click)="navigateTolistingPage('new')">New books</a>
</li>
<li class="nav-item">
  <a class="nav-link cursorPointer" (click)="navigateTolistingPage('donate')">Donate books</a>
</li>
<li class="nav-item">
  <a class="nav-link cursorPointer" href="#">Post book</a>
</li>
<li class="nav-item postRequest cursorPointer">
  <a class="nav-link" href="#">POST REQUEST</a>
</li>
</ul>
</nav>
<hr>